* {
	margin: 0;
	padding: 0;
}


body {
    padding-bottom: 40px;
    background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 52px;
  color: #fff;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.username {
	color: white;
	float: right;
	text-align: right;
	
}

.main-header {
	height: 64px;
}

.menu-text {
	font-size: 18px;
}

.header-item {
	height: 84px;
	padding-top: 10px;
	font-size: 18px;
}

.navbar-brand {
	padding: 2px 20px;
}

.btn-evenomat {
	background: #be1622;
	color: #fff;
	font-weight: 800;
}

#evtext {
	display: none;
}

@media only screen and (max-width: 468px) {
	#phone {
		display: none;
	}
	
	#evtext {
		display: block;
		color: #fff;
		background: rgba(0,0,0,0.8);
		border-radius: 20px;
		padding: 10px;
	}
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: #be1622;
    border-color: rgb(130, 30, 30);
}

.no-radius {
	border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 1px;
border: 0px solid #000000;

}

.no-radius-paddings {
	padding-top: 15px;
padding-bottom: 15px;
padding-left: 27px;
}

.notifications {
	padding: 10px 10px 0px 10px;
	font-size: 14px;
}

#notificationsLink {
	padding-right: 17px;
}

.right-box {
	background-color: #ffffff;
	color: black;
	min-height: 350px;
}

.subpage-header {
	font-weight: bold; 
	font-size: 40px;
	padding-top: 13px;
	padding-left: 0px;
}

.my-container {
	width: 99%;
}
