		<div class="list-group panel">
			<a href="#demo3" class="list-group-item list-group-item-success"
				data-toggle="collapse" data-parent="#MainMenu"><b>Communities</b></a>
			<div class="collapse" id="demo3">
				<a href="/application/index/addcommunity" class="list-group-item">Add</a> 
				<a href="/application/index/modifycommunity" class="list-group-item" data-parent="#SubMenu1">Modify</a>
			</div>
			<a href="#demo4" class="list-group-item list-group-item-success"
				data-toggle="collapse" data-parent="#MainMenu"><b>Events</b></a>
			<div class="collapse" id="demo4">
				<a href="/application/index/addevent" class="list-group-item"">Add</a> 
				<a href="/application/index/modifyevents" class="list-group-item" data-parent="#SubMenu1">Modify</a>
			</div>
			<a href="#demo5" class="list-group-item list-group-item-success"
				data-toggle="collapse" data-parent="#MainMenu"><b>Other</b></a>
			<div class="collapse" id="demo5">
				<a href="/application/index/sendpush" class="list-group-item"">Send push notification</a> 
			</div>
			<a href="/application/index/notifications" class="list-group-item list-group-item-success"><b>Notifications</b> <span class="badge" id="notificationsBadge">2</span></a>
			<div></div>
			<a href="/application/index/getfeedbacks" class="list-group-item list-group-item-success"><b>Feedback</b> <span class="badge" id="feedbacksBadge">0</span></a>
			<div></div>
		</div>